<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Arima is a place that can help you find the best restaurant">
    <meta name="keyword" content="arima, restaurant catalogue, restaurant, food, place">
    <meta name="author" content="Alfayed Dennita">
    <meta name="theme-color" content="#fd9644">
    <meta name="msapplication-navbutton-color" content="#fd9644">
    <meta name="apple-mobile-web-app-status-bar-style" content="#fd9644">
    <link rel="shortcut icon" href="images/icons/orange.ico">
    <link rel="apple-touch-icon" href="images/icons/apple/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple/apple-touch-icon-180x180.png">
    <title>Arima - Find Your Restaurant in Here</title>
  </head>
  <body data-theme="orange">

    <button id="skip-to-content" title="Skip to Content" aria-label="Skip to Content" data-lang="1"></button>

    <header>

      <h1>
        <a href="/#/home" class="button" title="Arima" aria-label="Logo">
          <i class="fas fa-utensils"></i>
          <span>Arima</span>
        </a>
      </h1>

      <nav>
        <ul>
          <li class="menu-item"><a href="/#/home" class="button before" title="Home" data-lang="2">Home</a></li>
          <li class="menu-item"><a href="https://alfayeddennita.github.io" target="_blank" rel="noopener" class="button before" title="About Us" data-lang="3">About Us</a></li>
          <li class="menu-item"><a href="/#/favorites" class="button before" title="Favorites" data-lang="4">Favorites</a></li>

          <li class="menu-setting theme-setting">
            <button title="Choose Color Themes" aria-label="Choose Color Themes" data-lang="5">
              <i class="color-icon orange"></i><span data-lang="6">Color Themes</span><i class="fas fa-angle-down fa-fw"></i>
            </button>
            <ul class="float-setting">
              <li><button class="active" title="Orange" aria-label="Orange" data-color="orange" data-lang="7">
                <i class="color-icon"></i>Orange
              </button></li>
              <li><button title="Green" aria-label="Green" data-color="green" data-lang="8">
                <i class="color-icon"></i>Green
              </button></li>
              <li><button title="Red" aria-label="Red" data-color="red" data-lang="9">
                <i class="color-icon"></i>Red
              </button></li>
              <li><button title="Blue" aria-label="Blue" data-color="blue" data-lang="10">
                <i class="color-icon"></i>Blue
              </button></li>
              <li><button title="Night Mode" aria-label="Night Mode" data-color="night" data-lang="11">
                <i class="color-icon"></i>Night Mode
              </button></li>
            </ul>
          </li>

          <li class="menu-setting language-setting">
            <button title="Choose Languages" aria-label="Choose Languages" data-lang="12">
              <img data-src="images/flags/en.svg" alt="USA" class="lazyload">EN<i class="fas fa-angle-down fa-fw"></i>
            </button>
            <ul class="float-setting">
              <li><button class="active" title="English US" aria-label="English US" data-language="en">
                <img data-src="images/flags/en.svg" alt="USA" class="lazyload">EN
              </button></li>
              <li><button title="Bahasa Indonesia" aria-label="Bahasa Indonesia" data-language="id">
                <img data-src="images/flags/id.svg" alt="Indonesia" class="lazyload">ID
              </button></li>
            </ul>
          </li>
        </ul>
      </nav>

      <button class="hamburger-menu" title="Menu" aria-label="Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

    </header>

    <main></main>

    <footer></footer>
    
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Mukta&family=Roboto&family=Ubuntu&display=swap");
    </style>
  </body>
</html>